.tr0 {
background-color : #f2efdf;
}
.tr1 {
background-color : #d9d0c1;
}
table {
border-collapse : collapse;
text-align : center;
width : 100%;
}
th {
border-bottom : 1px solid;
}
td {
padding : 2px;
}
.offline {
color : red;
}
.online {
color : green;
}
#header, #footer {
background-color : #f2efdf;
width : 100%;
margin-bottom : 2pt;
padding-bottom : 2pt;
border : 0 none;
}
#header {
border-bottom : 1px solid black;
font-weight : bold;
}
#footer {
border-top : 1px solid black;
font-size : 10pt;
text-align : right;
position : absolute;
bottom : 0;
left : 0;
}
a {
color : blue;
}
.slabel {
color : #000000;
text-decoration : underline;
}
.url, .owner, .desc {
text-align : left;
}
.url {
padding-left : 5em;
}
.desc {
padding-left : 2em;
}
.desc input {
margin-left : -2em;
}
.stext {
width : 100%;
margin : 0;
padding : 0;
}
table tr {
height : 1.6em;
}
.online {
color : green;
}
.offline {
color : red;
}
#edit-hint {
position : absolute;
display : none;
color : blue;
text-decoration : underline;
cursor : pointer;
}
.url span {
color : blue;
text-decoration : underline;
cursor : pointer;
}
