table{border-collapse:collapse;text-align:center;}
td{padding:0.2em 2px;}
table tr{height:1.6em;}
a{color:blue;}
#header, #footer{background-color:#dfd3b6;position:fixed;left:0px;color:#776045;width:100%;float:left;text-align:center;}
#header{top:0px;}
#footer{bottom:0px;}
#content{margin-left:10%;padding-left:3em;width:80%;}
tr.sh td{padding-top:2em;padding-bottom:0.5em;border-bottom:solid 1px;}
.tr0{background-color:#fcfcfe;}
.tr1{background-color:#DAD5CB;}
.offline{color:red;}
.online{color:green;}
.status{text-align:center;width:97px;}
.url, .owner, .desc{text-align:left;}
.url{padding-left:3em;}
.desc{padding-left:2em;}
.desc input{margin-left:-2em;}
.online{color:green;}
.offline{color:red;}
.url span{color:blue;text-decoration:underline;cursor:pointer;}
.url span, a{color:#0092b2;}
#edit-hint{position:absolute;display:none;color:blue;text-decoration:underline;cursor:pointer;}